numpy==1.23.5
opencv-python==4.7.0.72
face_recognition==1.3.0
dlib==19.24.2
streamlit==1.30.0
pandas==1.5.3
scipy==1.10.1
cmake==3.26.4
https://github.com/om2907/Face_attendance/blob/main/Dependacies/Dlib_Windows_Python3.x-main/Dlib_Windows_Python3.x-main/dlib-19.22.99-cp39-cp39-win_amd64.whl
